In [1]:
import psycopg2
from config import config

%load_ext sql

In [2]:
# Try connecting to the database
try:
    # read connection parameters
    params = config()
    # connect to the PostgreSQL server
    #conn = psycopg2.connect(**params)
    #print('Connected to the PostgreSQL database.')
    # create a cursor
    #cur = conn.cursor()
except (Exception, psycopg2.DatabaseError) as error:
    print(error)

In [3]:
from sqlalchemy.engine.url import URL

In [7]:
%sql select * from spacextbl limit 5;

 * postgresql+psycopg2://postgres:***@localhost:5432/mlprojects
5 rows affected.

[(4, datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (5, datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (6, datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (7, datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (8, datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]